<h1>lands</h1>

<% @lands.each do |land| %>
    <div class="card mx-auto" style="width: 18rem; margin: 8px">
        <h5 class="card-title"><%= land.location.capitalize %></h5>
        <p><%= land.area %>m2</p>
        <p><%= land.description %></p>
        <p><%= land.price %>€/mois</p>
    </div>
    <p><%= link_to "Voir Plus", land_path(land), class: "btn btn-primary" %></p>
<% end %>
