<h1>Land</h1>
<h2>Emplacement: <%= @land.location.capitalize%></h2>
<p>Surface: <%= @land.area %>m²</p>
<p>Description: <%= @land.description %></p>
<p>Prix: <%= @land.price %>€/mois</p>

<%= link_to "Nos Terrains", lands_path %>
